nav {
  font-family:  $font-family-base;
  letter-spacing: .05em;

  h1 {
    display: block;
    font-weight: 400;
    font-size: 1.3em;
    margin: 0 0 .25em 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline;
    color: $color-blossom;
    font-size: .8em;
    margin: 0 2.75% 0 0;
    text-transform: uppercase;
  }
}

#pagination {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}